.listContainer {
  height: 300px;
  overflow-y: auto;
  width: 400px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 10;
  left: 50px;
  top: 80px;
}
.listItem {
  width: 100%;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  color: steelblue;
  position: relative;
  border: 1px solid lightgray;
  margin-bottom: 2px;
  background-color: white;
}

.removeIcon {
  position: absolute !important;
  right: 10px !important;
  top: 5px !important;
  color: rgb(228, 30, 30);
  cursor: pointer;
}

.emptyListContainer {
  height: 300px;
  width: 400px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 10;
  left: 50px;
  top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyCenter {
  color: gray;
  font-size: 16px;
  font-weight: bold;
}