.mainContainer {
  width: 100%;
  display: flex;
}

.controlsContainer {
  flex: 0 0 250px;
  height: 100vh;
  background-color: rgba(172, 176, 180, 0.2);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
  box-shadow: 0px 0px 5px lightgray;
}

.dragAndDropContainer {
  flex: 1 1 0;
  padding: 0 20px;
  display: grid;
  grid-template-areas:
  "todo inprogress done";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(1, auto);
  gap: 0px 20px;
}

.taskContainers {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
  height: 80vh;
  position: relative;
}

.todoContainer {
  grid-area: todo;

}

.inprogressContainer {
  grid-area: inprogress;

}

.doneContainer {
  grid-area: done;

}

.listTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: bold;
  padding: 0;
  height: 60px;
}

.createTaskButton {
  margin-bottom: 30px !important;
  width: 150px !important;
}

.toggleButtonContainer {
  margin-bottom: 30px !important;
}

.taskFilterLabel {
  margin-bottom: 5px;
}

.counterContainer {
  position: absolute;
  right: 20px;
  top: 15px;
}

