.mainContainer {
  width: 100%;
  box-shadow: 0px 0px 3px gray;
  display: grid;
  grid-template-areas:
  "title   title   title    title"
  "date    date    date     date "
  "creator creator creator buttons"
  "assigned assigned assigned buttons"
  "descrip done done  buttons2";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  gap: 3px 0px;
  font-size: 10px;
  padding: 10px;
  position: relative;
  background-color: white;
  min-height: 160px;
}

.titleArea {
  grid-area: title;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: steelblue;
  font-family: 'Roboto';
}

.dateArea {
  grid-area: date;
}

.creatorArea {
  grid-area: creator;
  font-weight: bold;
}

.assignedArea {
  grid-area: assigned;
  font-weight: bold;
}

.descripArea {
  grid-area: descrip;
}

.buttonsArea {
  grid-area: buttons;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons2Area {
  grid-area: buttons2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.doneArea {
  grid-area: done;
}

.descriptionIcon {
  display: inline-block !important;
  color: darkgreen !important;
  cursor: default !important;
  background-color: white !important;
  border-radius: 50% !important;
  font-size: 22px !important;
  padding: 2px !important;
  box-shadow: 0px 0px 5px black !important;
  margin-left: 10px;
}
.dragIcon {
  cursor: pointer !important;
  position: absolute !important;
  right: 10px !important;
  top: 10px !important;
}

.isDragging {
  opacity: 0.7;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}
.preventDragging {
  background-color: rgb(245, 241, 241);
}

.createdByTitle {
  margin-left: 3px;
  color: black;
  font-weight: bold;
}

.createdByMe, .assignedToMe {
  color: darkgreen;
  font-weight: bold;
  font-size: 12px;
  margin-left: 5px;
}

.assignedToMoreUsers {
  color: darkgreen;
  font-weight: bold;
  font-size: 12px;
  margin-left: 5px;
  text-decoration: underline;
}

.editUsersIcon, .deleteUsersIcon, .assignMeIcon, .deleteTaskIcon {
  display: inline-block !important;
  color: gray !important;
  cursor: default !important;
  background-color: white !important;
  border-radius: 50% !important;
  font-size: 22px !important;
  padding: 2px !important;
  box-shadow: 0px 0px 5px black !important;
}

.editUsersIconActive {
  color: white !important;
  background-color: darkgreen !important;
  box-shadow: 0px 0px 5px black !important;
  cursor: pointer !important;
}

.deleteUsersIconActive, .deleteTaskIconActive {
  color: white !important;
  background-color: rgb(228, 30, 30) !important;
  box-shadow: 0px 0px 5px black !important;
  cursor: pointer !important;
}

.assignMeIconActive {
  color: white !important;
  background-color: darkgreen !important;
  box-shadow: 0px 0px 5px black !important;
  cursor: pointer !important;
}

.unassignMeIconActive {
  color: white !important;
  background-color: red !important;
  box-shadow: 0px 0px 5px black !important;
  cursor: pointer !important;
}

.userListTooltipList {
  list-style: none;
  padding: 0;
}

.taskNotCompleted {
  display: none;
}

.doneContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.doneByTitle {
  font-size: 12px;
  font-weight: bold;
  color: steelblue;
}

.doneByUsername {
  font-size: 10px;
  font-weight: normal;
}


